body {
  background-color: rgba(209, 206, 190, 0.719);
}

h1 {
  font-family: 'Acme', sans-serif;
}

.color-and-button {
  display: flex;
  flex-direction: column;
  margin-right: 55px;
  width: 72%;
}

.body-area {
  display: flex;
  flex-direction: row;
}

.color-area {
  display: flex;
  flex-direction: row;
}

.color-box {
  color: #fff;
  font-family: 'Asap', sans-serif;
  font-size: 24px;
  height: 60px;
  margin: 3px;
  padding-top: 350px;
  text-align: center;
  width: 200px;
}

.gen-button {
  font-size: 18px;
  height: 40px;
  margin: 40px 0;
}

#pal-name-input {
  height: 40px;
  width: 670px;
}

#pal-name-input::placeholder {
  font-size: 18px;
  padding-left: 10px;
}

.save-pal-btn {
  font-size: 14px;
  height: 45px;
  width: 120px;
}

select {
  height: 45px;
  width: 220px;
}

.create-project-area {
  background-color:  rgba(209, 206, 190, 1);
  height: 580px;
  padding-left: 30px;
  width: 21%;
}

h3 {
  font-family: 'Acme', sans-serif;
  font-size: 28px;
}

h4 {
  font-family: 'Asap', sans-serif;
  font-size: 15px;
  margin-bottom: 5px;
}

#project-input {
  height: 25px;
  width: 200px;
}

#project-input::placeholder {
  font-size: 14px;
}

.save-project-button {
  font-size: 14px;
  height: 30px;
  width: 60px;
}



